.day-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 5rem auto;
}

.day-info h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-right: 2rem;
}

.day-info h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-right: 2rem;
}

.day-info h3 span {
  font-size: 1.2rem;
  font-weight: 400;
}

.weather-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  margin: 0 auto;
}

.weather-hour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 1rem #10103922;
}

.weather-hour p {
  margin: 0;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
}

.weather-hour-hot {
  background-color: #f55d83;
}

.weather-hour-warm {
  background-color: #eeaf5c;
}

.weather-hour-moderate {
  background-color: #c0cf3d;
}

.weather-hour-cool {
  background-color: #34bfc9;
}

.weather-hour-cold {
  background-color: #5c5edf;
}
